<h1>Login</h1>
<form action="/api/user/authenticate/email" method="post">
<p>Username: <input type="text" name="email"></p>
<p>Password: <input type="text" name="password"></p>
<p><input type="submit" value="Submit"></p>
</form>