<div class="general-form">
    <div class="wrapper">
        <div class="auth-header">
            <img src="/images/icon-128-active.png" height="60px" >
            <div class="title">notipocket</div>
        </div>
        <div class="auth-content">
            <!-- <div class="title">Login</div> -->
            <span id="signinButton">
                <span
                    class="g-signin"
                    data-callback="signinCallback"
                    data-clientid="433425244607-aj15sto8n8qgjvuls5eduf8fr3dm0f3j.apps.googleusercontent.com"
                    data-cookiepolicy="single_host_origin"
                    data-scope="profile email"
                    data-theme="dark"
                    data-width="wide"
                    data-height="tall">
                </span>
            </span>
        </div>
    </div>    
</div>
<div class="main-footer">
    <ul class="inline">
        <li>
            <a href="http://notipocket.com">Home page</a>
        </li>
        <li>
            <a href="http://notipocket.com/privacy">Privacy & Terms</a>
        </li>
    </ul>
</div>

<script type="text/javascript">
    var signinCallback = function(){
        
    };
</script>

<!-- Place this asynchronous JavaScript just before your </body> tag -->
<script type="text/javascript">
  (function() {
   var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
   po.src = 'https://apis.google.com/js/client:plusone.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
 })();
</script>