<script type="text/javascript">
var config = {
    env: {
        host: 'http://dev.notipocket.com',
        port: 1337
    },
    getUrl: function(url){
        return config.env.host + (config.env.port === 80 ? '' : ':' + config.env.port) + url;
    }
}
</script>

<div class="general-form">
    <div class="wrapper">
        <div class="auth-header">
            <img src="/images/icon-128-active.png" height="60px" >
            <div class="title">notipocket</div>
        </div>
        <div class="auth-content">
            <span id="signinButton">
                <span
                    class="g-signin"
                    data-callback="signinCallback"
                    data-clientid="433425244607-aj15sto8n8qgjvuls5eduf8fr3dm0f3j.apps.googleusercontent.com"
                    data-cookiepolicy="single_host_origin"
                    data-scope="profile email"
                    data-approvalprompt="force"
                    data-theme="dark"
                    data-width="wide"
                    data-height="tall">
                </span>
            </span>
            <button id="btnLogout" class="bt btn-theme">Logout</button>
        </div>
    </div>    
</div>
<div class="main-footer">
    <ul class="inline">
        <li>
            <a href="http://notipocket.com">Home page</a>
        </li>
        <li>
            <a href="http://notipocket.com/privacy">Privacy & Terms</a>
        </li>
    </ul>
</div>

<script type="text/javascript">
    var signinCallback = function(data){
        if(data.error){
            return false;
        };
        $.ajax({
            type: 'POST',
            url: config.getUrl('/auth/google'),
            data: {
                'id_token': data['id_token']
            },
            dataType: 'json'
        }).success(function(res){
            $.cookie('access_token', res.data.token);
        }).error(function(err){
            console.log('----------- eeeeee', err);
        });
    };

    $(function(){
        $('#btnLogout').click(function(e){

        });
    });

</script>
<script type="text/javascript">
  (function() {
   var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
   po.src = 'https://apis.google.com/js/client:plusone.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
 })();
</script>
